"""Test {{ project_name }}."""

import {{ project_name_snake_case }}


def test_import() -> None:
    """Test that {{ project_name }} can be imported."""
    assert isinstance({{ project_name_snake_case }}.__name__, str)
