"""Pydantic basemodels."""

from pydantic import BaseModel, Field


class HealthResponse(BaseModel):
    """Schema for the /health endpoint response."""

    status: str = Field(..., title="Status", description="Health status.", enum=["ok", "error"])
