"""Pydantic basemodels."""

from pydantic import BaseModels, Field


class HealthResponse(BaseModel):
    """Schema for the /health endpoint response."""

    status: str = Field(
        ...,
        title="Status",
        description="Health status.""",
    )
