"""{{ project_name }} main script."""

from typing import Any


def answer_to_anything(x: str) -> Any:
    """Find the answer to the ultimate question of life, the universe, and everything."""
    return 42
