name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        with-fastapi-api: [false, true]

    name: "Copier: Python ${{ matrix.python-version }} with FastAPI API: ${{ matrix.with-fastapi-api }}"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: velta-forge-backend

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: "**/uv.lock"

      - name: Scaffold Python project
        run: |
          uvx copier copy --vcs-ref=HEAD velta-forge-backend my-project \
            --defaults \
            --data project_name="My Project" \
            --data project_description="A dummy ${{ matrix.python-version }} Python project (with FastAPI API: ${{ matrix.with-fastapi-api }})." \
            --data project_url="https://github.com/user/repo" \
            --data author_name="John Doe" \
            --data author_email="john.doe@example.com" \
            --data python_version="${{ matrix.python-version }}" \
            --data with_fastapi_api=${{ matrix.with-fastapi-api }}
          cd my-project
          git config --global init.defaultBranch main
          git init
          git checkout -b test
          git add .

      - name: Lint and test project
        uses: devcontainers/ci@v0.3
        with:
          subFolder: ./my-project/
          runCmd: |
            uv lock
            poe lint
            poe test

      - name: Build app Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./my-project/
          target: app
